<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.shoppcar">

    <application>

        <activity
            android:name=".ShopcarActivity"
            android:theme="@style/TranslucentTheme" />
    </application>

</manifest>